// Colors
$dark-color: #171717;
$light-color: #f4f4f4;
$secondary-color: #3c948b;

$alert-warning: #f8ffc4;
$alert-warning-border: #ffee00;
$alert-danger: #ffc4c4;
$alert-danger-border: #ff0000;
$alert-info: #d7eafe;
$alert-info-border: #0523b7;
